#contact {
  a: c;
}
#contact div.wrapT {
  a: c;
}
#contact div.wrapT h2 {
  a: c;
}
#contact div.wrapT p {
  a: c;
}
#contact div.wrapT ul.list {
  a: c;
}
#contact div.wrapT ul.list li {
  a: c;
}
#contact div.wrapT ul.list li strong {
  a: c;
}
#contact div.wrapT a.QnA {
  a: c;
}
#contact div.wrapT ul.sns {
  a: c;
}
#contact div.wrapT ul.sns li {
  a: c;
}
#contact div.wrapT ul.sns li a {
  a: c;
}
#contact div.wrapT div.sourcesite {
  a: c;
}
#contact div.wrapT div.sourcesite h3 {
  a: c;
}
#contact div.wrapT div.sourcesite p {
  a: c;
}
#contact div.wrapT div.sourcesite ul.src {
  a: c;
}
#contact div.wrapT div.sourcesite ul.src li {
  a: c;
}
#contact div.wrapT div.sourcesite ul.src li a {
  a: c;
}