#process {
  a: c;
}
#process div.wrapT {
  a: c;
}
#process div.wrapT h2 {
  a: c;
}
#process div.wrapT p {
  a: c;
}
#process div.wrapT h3 {
  a: c;
}
#process div.wrapT ul {
  a: c;
}
#process div.wrapT ul li {
  a: c;
}
#process div.wrapT a {
  a: c;
}