#skill {
  a: c;
}
#skill div.wrap {
  a: c;
}
#skill div.wrap h2 {
  a: c;
}
#skill div.wrap ul.list {
  a: c;
}
#skill div.wrap ul.list li {
  a: c;
}
#skill div.wrap ul.list li h3 {
  a: c;
}
#skill div.wrap ul.list li h3 ul.sub {
  a: c;
}
#skill div.wrap ul.list li h3 ul.sub li {
  a: c;
}
#skill div.wrap ul.list li {
  a: c;
}
#skill div.wrap ul.list li h3 {
  a: c;
}
#skill div.wrap ul.list li ul.sub {
  a: c;
}
#skill div.wrap ul.list li ul.sub li {
  a: c;
}